{:itonami.blueprint/id "cloud-itonami-isic-1030"
 :itonami.blueprint/name "Community Fruit & Vegetable Processing"
 :itonami.blueprint/isic-rev5 "1030"
 :itonami.blueprint/domain :food/fruit-vegetable-processing
 :itonami.blueprint/license "AGPL-3.0-or-later"
 :itonami.blueprint/social-impact [:food-security :food-safety :fair-labor :nutritious-food-access]
 :itonami.blueprint/governor :fruit-vegetable-processing-governor
 :itonami.blueprint/robotics true
 :itonami.blueprint/required-technologies [:robotics :identity :forms :dmn :bpmn :audit-ledger :cae]
 :itonami.blueprint/optional-technologies [:optimization :telemetry :traceability]
 :itonami.blueprint/status :public-oss
 :itonami.blueprint/maturity :blueprint}
